<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}SJT Anagram{% endblock %}</title>
	{% block head %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<base href="/">
		<link rel="stylesheet" href="dist/main.css"></link>
	{% endblock %}
</head>
<body class="{% block classes %}{% endblock %}">
	{% block banner_message %}{% endblock %}

	{% block header %}{% endblock %}

	{% block content %}
	{% endblock %}

	{% block js_scripts %}
		<script src="dist/main.js"></script>
	{% endblock %}
</body>
</html>
