<div class="locationbox-component">
	<div class="container">
		<div class="row margin-top">
			<div class="input-container col-md-6">
				<input autocomplete="false" tabindex="-1" spellcheck="false" type="text" name="user-input" class="location-hint" ng-change="anagramize(userInput)" ng-model="userInput" />
			</div>
			<div class="col-md-4">
				<button class="btn btn-primary" ng-click="anagramize(userInput)">Re-Anagramize</button>
				<button class="btn btn-danger" ng-click="reset()">Reset</button>
			</div>			
		</div>
		<div class="text-center col-md-12 margin-top">
			<h1>{{ anagram.word }}</h1>
		</div>
		<div class="col-md-12 margin-top">
			<table class="table">
				<tr>
					<th>
						<h3>Anagrams</h3>
					</th>
				</tr>
				<tr ng-repeat="gram in anagrams track by $index">
					<td style="cursor: pointer" ng-click="highlight(gram)" ng-class="{ highlight: gram.keep }">{{ gram.word }}</td>
				</tr>
			</table>
		</div>
</div>